<h1 align="center">Your vote is important for your beloved Canada</h1>
<form action="cast" method="POST" align="center">
        {% csrf_token %}
        <h4>Enter your Voter ID</h4>
       <input type="text" name="ID" required>  <br><br><br><br>
       <h1>Select Your option</h1>
        <input type="radio" name="votecas" value="liberals" required> Liberals<br>
        <input type="radio" name="votecas" value="conservative"> Conservative<br>
        <input type="radio" name="votecas" value="ndp"> NDP <br>
        <input type="radio" name="votecas" value="green"> Green <br>
        <input type="radio" name="votecas" value="bloc"> Bloc Québécois	<br>
        <input type="radio" name="votecas" value="people"> People	<br>
        <br>
        <button type="submit">Submit</button>
      </form>